<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shopId</key>
		<string>shop0</string>
		<key>shopName</key>
		<string>商家0</string>
		<key>goods</key>
		<array>
			<dict>
				<key>shopId</key>
				<string>shop0</string>
				<key>goodsId</key>
				<string>goods_00</string>
				<key>title</key>
				<string>商品0</string>
				<key>price</key>
				<string>100.00</string>
				<key>select</key>
				<false/>
				<key>goodsSelectCount</key>
				<string>0</string>
			</dict>
			<dict>
				<key>shopId</key>
				<string>shop0</string>
				<key>goodsId</key>
				<string>goods_01</string>
				<key>title</key>
				<string>商品1</string>
				<key>price</key>
				<string>100.00</string>
				<key>select</key>
				<false/>
				<key>goodsSelectCount</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shopId</key>
		<string>shop1</string>
		<key>shopName</key>
		<string>商家1</string>
		<key>goods</key>
		<array>
			<dict>
				<key>shopId</key>
				<string>shop1</string>
				<key>goodsId</key>
				<string>goods_10</string>
				<key>title</key>
				<string>商品0</string>
				<key>price</key>
				<string>100.00</string>
				<key>select</key>
				<false/>
				<key>goodsSelectCount</key>
				<string>0</string>
			</dict>
			<dict>
				<key>shopId</key>
				<string>shop1</string>
				<key>goodsId</key>
				<string>goods_11</string>
				<key>title</key>
				<string>商品1</string>
				<key>price</key>
				<string>100.00</string>
				<key>select</key>
				<false/>
				<key>goodsSelectCount</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shopId</key>
		<string>shop2</string>
		<key>shopName</key>
		<string>商家2</string>
		<key>goods</key>
		<array>
			<dict>
				<key>shopId</key>
				<string>shop2</string>
				<key>goodsId</key>
				<string>goods_100</string>
				<key>title</key>
				<string>商品0</string>
				<key>price</key>
				<string>100.00</string>
				<key>select</key>
				<false/>
				<key>goodsSelectCount</key>
				<string>0</string>
			</dict>
			<dict>
				<key>shopId</key>
				<string>shop2</string>
				<key>goodsId</key>
				<string>goods_101</string>
				<key>title</key>
				<string>商品1</string>
				<key>price</key>
				<string>100.00</string>
				<key>select</key>
				<false/>
				<key>goodsSelectCount</key>
				<string>0</string>
			</dict>
			<dict>
				<key>shopId</key>
				<string>shop2</string>
				<key>goodsId</key>
				<string>goods_102</string>
				<key>title</key>
				<string>商品2</string>
				<key>price</key>
				<string>100.00</string>
				<key>select</key>
				<false/>
				<key>goodsSelectCount</key>
				<string>0</string>
			</dict>
			<dict>
				<key>shopId</key>
				<string>shop2</string>
				<key>goodsId</key>
				<string>goods_103</string>
				<key>title</key>
				<string>商品3</string>
				<key>price</key>
				<string>100.00</string>
				<key>select</key>
				<false/>
				<key>goodsSelectCount</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shopId</key>
		<string>shop3</string>
		<key>shopName</key>
		<string>商家3</string>
		<key>goods</key>
		<array>
			<dict>
				<key>shopId</key>
				<string>shop3</string>
				<key>goodsId</key>
				<string>goods_1000</string>
				<key>title</key>
				<string>商品0</string>
				<key>price</key>
				<string>100.00</string>
				<key>select</key>
				<false/>
				<key>goodsSelectCount</key>
				<string>0</string>
			</dict>
			<dict>
				<key>shopId</key>
				<string>shop3</string>
				<key>goodsId</key>
				<string>goods_1001</string>
				<key>title</key>
				<string>商品1</string>
				<key>price</key>
				<string>100.00</string>
				<key>select</key>
				<false/>
				<key>goodsSelectCount</key>
				<string>0</string>
			</dict>
			<dict>
				<key>shopId</key>
				<string>shop3</string>
				<key>goodsId</key>
				<string>goods_1002</string>
				<key>title</key>
				<string>商品1</string>
				<key>price</key>
				<string>100.00</string>
				<key>select</key>
				<false/>
				<key>goodsSelectCount</key>
				<string>0</string>
			</dict>
			<dict>
				<key>shopId</key>
				<string>shop3</string>
				<key>goodsId</key>
				<string>goods_1003</string>
				<key>title</key>
				<string>商品1</string>
				<key>price</key>
				<string>100.00</string>
				<key>select</key>
				<false/>
				<key>goodsSelectCount</key>
				<string>0</string>
			</dict>
			<dict>
				<key>shopId</key>
				<string>shop3</string>
				<key>goodsId</key>
				<string>goods_1004</string>
				<key>title</key>
				<string>商品1</string>
				<key>price</key>
				<string>100.00</string>
				<key>select</key>
				<false/>
				<key>goodsSelectCount</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shopId</key>
		<string>shop4</string>
		<key>shopName</key>
		<string>商家4</string>
		<key>goods</key>
		<array>
			<dict>
				<key>shopId</key>
				<string>shop4</string>
				<key>goodsId</key>
				<string>goods_10000</string>
				<key>title</key>
				<string>商品0</string>
				<key>price</key>
				<string>100.00</string>
				<key>select</key>
				<false/>
				<key>goodsSelectCount</key>
				<string>0</string>
			</dict>
			<dict>
				<key>shopId</key>
				<string>shop4</string>
				<key>goodsId</key>
				<string>goods_10001</string>
				<key>title</key>
				<string>商品1</string>
				<key>price</key>
				<string>100.00</string>
				<key>select</key>
				<false/>
				<key>goodsSelectCount</key>
				<string>0</string>
			</dict>
			<dict>
				<key>shopId</key>
				<string>shop4</string>
				<key>goodsId</key>
				<string>goods_10002</string>
				<key>title</key>
				<string>商品1</string>
				<key>price</key>
				<string>100.00</string>
				<key>select</key>
				<false/>
				<key>goodsSelectCount</key>
				<string>0</string>
			</dict>
			<dict>
				<key>shopId</key>
				<string>shop4</string>
				<key>goodsId</key>
				<string>goods_10003</string>
				<key>title</key>
				<string>商品1</string>
				<key>price</key>
				<string>100.00</string>
				<key>select</key>
				<false/>
				<key>goodsSelectCount</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
